#logo {
  width: 100%;
  height: 130px;
  margin-left: 20px;
  background-image: url("logo.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-position: left top;

}
