.App{

}

.LoginBar{
display: inline-block;
float: right;
height: auto;
border-style: solid;
border-color: black;
visibility: visible;
}
.LogoutBar{
display: inline-block;
float: right;
height: auto;
border-style: solid;
border-color: black;
visibility: hidden;
}

.FriendsList{
display: inline-block;
float: left;
width: 300px;
margin-left: auto;
height: auto;
border-style: solid;
border-color: black;
}

.AlbumSpace{
  display: inline-block;
  float: right;
  margin-left: 20px;
  margin-right: auto;
  border-style: solid;
  border-color: black;
}

.HeaderSpace{
  text-align: left;
  font-weight: bold;
  border-style: solid;
  border-color: black;
}
